@font-face {

	font-family: 'Open Sans Condensed';

	src: url('fonts/OpenSans-CondensedBold.eot');

	src: url('fonts/OpenSans-CondensedBold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-CondensedBold.woff2') format('woff2'), url('fonts/OpenSans-CondensedBold.woff') format('woff'), url('fonts/OpenSans-CondensedBold.ttf') format('truetype'), url('fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');

	font-weight: bold;

	font-style: normal;

	font-display: swap;

}



* {

	margin: 0;

	padding: 0;

	text-decoration: none;

	box-sizing: border-box;

}



html {

	font-family: 'Open Sans Condensed', Helvetica, Arial, Verdana, sans-serif;

}



body {

	position: relative;

	margin: 0;

	padding: 0;

	overflow-x: hidden !important;

	font-family: 'Open Sans Condensed', Helvetica, Arial, Verdana, sans-serif;

}



.text-color {

	color: #ffb536;

	text-decoration: underline;

}



.text-color:hover {

	color: #ffb536;

	text-transform: unset;

}



p {

	font-size: 15px;

	color: #1f365c;

	font: normal 15px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

}



ul li {

	font: normal 15px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

}



.heading-bottom-line {

	border-color: #ffb536;

	border-top: 0;

	border-right: 0;

	border-left: 0;

	display: block;

	border-style: solid;

	border-bottom-width: 5px;

	width: 250px;

	margin: 0px auto;

	margin-bottom: 20px;

}



.header {

	position: relative;

	width: 100%;

	margin: 0;

	background-color: #fff;

	box-shadow: 0px 2px 10px rgba(82, 81, 81, 0.1);

	box-sizing: border-box;

}



.header .top-header {

	background: #1f365c;

	line-height: 40px;

}



.header .top-header .all-information {

	display: flex;

	justify-content: space-between;

}



.contact-numbers-mob {

	display: none;

}



.header .top-header .all-information .contact-numbers,

.contact-time-email,

.contact-others,

.contact-social {

	display: flex;

	justify-content: space-between;

}



.header .top-header .all-information p {

	color: #fff;

	margin: 0px 0px;

	font: bold 15px / 40px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	margin-right: 6px;

}



.header .top-header .all-information a {

	display: inline;
	color:#fff;

}



.header .top-header .all-information .contact-others a {

	color: #fff;

	text-decoration: none;

	font-size: 14px;

	margin: 0px 10px;

	font-weight: bolder;

}



.header .top-header .all-information .media-icons {

	display: flex;

}



.header .top-header .all-information .media-icons a {

	padding: 3px;

	height: 30px;

	width: 30px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	border-radius: 50%;

	transition: .5s ease;

	margin-left: 0px;

	margin-top: 5px;

}



.header .top-header .all-information .media-icons a:hover {

	background-color: #ffb536;

}



.scroll-top-position {

	position: absolute;

	top: 40px;

	width: 100%;

	background-color: #fff;

	z-index: 1111;

	box-shadow: 0px 2px 10px rgba(82, 81, 81, 0.1)

}



.header .main-header {

	display: flex;

	justify-content: space-between;

	box-sizing: border-box;

	padding: 33px 0px;

}



.main-header h1{

        margin-bottom: 0 !important;

}



.header .main-header .nav-logo img {

	max-width: 100%;

	height: auto;

}



.header .main-header .bar-menu {

	display: none;

}



.header .main-header .custm-navbar .close-bx {

	display: none;

}



.header .main-header .custm-navbar .nav-bar {

	list-style: none;

	display: flex;

	position: relative;

	margin: 0px;

}



.header .main-header .custm-navbar .nav-bar .nav-item {

	margin: 0px 16px;

	padding: 10px 0px;

	padding-bottom: 15px;

}



.header .main-header .custm-navbar .nav-bar .nav-item .nav-links {

	position: relative;

	text-decoration: none;

	font-weight: 400;

	color: #1f365c;

	font: normal bold 14px / 21px "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	padding: 8px 0px;

}



.header .main-header .custm-navbar .nav-bar .nav-item .nav-links::after {

	position: absolute;

	top: 87%;

	left: 0;

	width: 100%;

	height: 2px;

	background: #ffb536;

	content: '';

	opacity: 0;

	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;

	-moz-transition: opacity 0.4s, -moz-transform 0.4s;

	transition: opacity 0.4s, transform 0.4s;

	-webkit-transform: translateY(10px);

	-moz-transform: translateY(10px);

	transform: translateY(10px);

}



.header .main-header .custm-navbar .nav-bar .nav-item .nav-links.active::after,

.header .main-header .custm-navbar .nav-bar .nav-item .nav-links:hover::after,

.header .main-header .custm-navbar .nav-bar .nav-item .nav-links:focus::after {

	opacity: 1;

	-webkit-transform: translateY(0px);

	-moz-transform: translateY(0px);

	transform: translateY(0px);

}



.header .main-header .custm-navbar .nav-bar .dropdown {

	transition-duration: .5s ease;

}



.header .main-header .custm-navbar .nav-bar .dropdown .dropdown-content {

	display: none;

	position: absolute;

	top: 46px;

	left: 0px;

	background-color: #fff;

	border-radius: 5px;

	min-width: 270px;

	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);

	padding: 12px 27px;

	z-index: 1;

	transition-duration: .5s ease;

}



.header .main-header .custm-navbar .nav-bar .dropdown:hover .dropdown-content {

	display: block;

}



.dropdown-content a {

	text-decoration: none;

	padding: 30px 0px;

	width: 100%;

}



.dropdown-content a p {

	font-weight: 600;

	color: #1f365c;

	font-size: 14px;

	text-transform: uppercase;

	font-weight: bold;

	transition: .1s ease;

}



.dropdown-content a p:hover,

.dropdown-content a p.active {

	color: #ef9c0b;

}



.header .main-header .custm-navbar .mobile-menu-contact {

	display: none;

}



.header .main-header .custm-navbar .mobile-menu-contact .mobile-menu-contact-item {

	list-style: none;

}



.top-heading-sec {

	background-color: #1f365c;

	padding: 39px 0px;

	margin-top: 115px;

	padding-bottom: 40px;

}



.top-heading-sec .top-headline {

	display: flex;

	justify-content: space-between;

}



.top-heading-sec .top-headline h3 {

	color: #fff;

	text-transform: uppercase;

	font-size: 34px;

	margin-bottom: 0px;

}



.top-heading-sec .top-headline P {

	color: #ffffff4d;

	font-size: 14px;

	text-decoration: none;

}



.top-heading-sec .top-headline a {

	color: #ffffff4d;

	font-size: 14px;

	text-decoration: none;

}



.home-banner img {

	width: 100%;

	position: relative;

	margin-top: 115px;

}



.more-about-sec .more-about-ctn {

	text-align: center;

}



.more-about-sec .more-about-ctn img {

	border-radius: 50%;

	margin-bottom: 20px;

}



.more-about-sec .more-about-ctn h3 {

	font-size: 26px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 15px;

	font-family: "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

}



.more-about-sec .more-about-btn {

	text-align: center;

}



.more-about-sec .more-about-btn a {

	text-decoration: none;

	background: #f1a82c;

	color: #fff;

	font-size: 15px;

	padding: 10px 10px;

	font-weight: 700;

	transition: .5s ease;

	text-transform: uppercase;

}



.more-about-sec .more-about-btn a:hover {

	background-color: #e19106;

}



.service-offer-sec h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

}



.service-offer-sec {

	overflow: hidden;

}



.service-offer-sec .product-grid3 {

	border: none;

	box-shadow: none;

}



.service-offer-sec .owl-theme .owl-dots {

	text-align: center;

	margin-top: 18px;

}



.service-offer-sec .owl-theme .owl-dots .owl-dot {

	display: inline-block;

}



.service-offer-sec .owl-theme .owl-dots .owl-dot span {

	width: 9px;

	height: 9px;

	display: none !important;

	transform: rotate(45deg);

}



.service-offer-sec .owl-theme .owl-dots .owl-dot:hover span {

	border-color: #2bb0ef;

}



.service-offer-sec .owl-theme .owl-dots .owl-dot.active span {

	border-color: #2bb0ef;

}



.service-offer-sec .owl-carousel .owl-nav button:focus {

	outline: none;

}



.service-offer-sec .owl-carousel .owl-nav button.owl-next {

	position: absolute;

	top: 38%;

	right: 7px;

	padding: 0px 1px !important;

	background: #ffb536;

	display: inline-block;

	transform: translateY(-50%);

	border-radius: 5px;

	font-size: 26px;

	line-height: 26px;

	color: #fff;

}



.service-offer-sec .owl-carousel .owl-nav button.owl-prev {

	position: absolute;

	top: 38%;

	left: 7px;

	padding: 0px 1px !important;

	background: #ffb536;

	display: inline-block;

	transform: translateY(-50%);

	border-radius: 5px;

	font-size: 26px;

	line-height: 26px;

	color: #fff;

}



.service-offer-sec .owl-arrow .owl-nav {

	position: absolute;

	top: 0;

	right: 0;

	font-size: 1.8rem;

}



.service-offer-sec .owl-arrow .owl-nav .owl-prev,

.service-offer-sec .owl-arrow .owl-nav .owl-next {

	display: inline-block;

	transition: all 0.6s ease-in-out;

	color: #000000;

}



.service-offer-sec .owl-carousel .item .col-sm-12 {

	height: 320px;

}



.service-offer-sec .owl-carousel a {

	text-decoration: none;

	color: #1f365c;

}



.service-offer-sec h5 {

	font-size: 24px;

	font-weight: bold;

	text-transform: uppercase;

}



.why-choose-sec {

	width: 100%;

	text-align: center;

	box-sizing: border-box;

	margin-top: -190px !important;

	background: rgb(245, 245, 245);

	padding-top: 30px;

}



.why-choose-sec h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

	text-transform: uppercase;

}



.why-choose-sec .feature-bx {

	padding-bottom: 30px;

	display: flex;

	align-items: center;

}



.why-choose-sec .feature-bx .feature-icon {

	background: #f1a82c;

	padding: 15px;

	float: left;

	width: 60px;

	border-radius: 40px;

}



.why-choose-sec .feature-bx span {

	font-weight: bold;

	font-size: 20px;

	margin-left: 14px;

	color: #1f365c;

	text-align: left;

	font-family: "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

}



.fleet-presence-sec {

	padding: 25px 0px;

	background: rgb(245, 245, 245);

}



.fleet-presence-sec .fleet-heading {

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

}



.fleet-presence-sec .fleet {

	vertical-align: top;

	display: inline-block;

	text-align: center;

	padding-bottom: 40px;

	padding-left: 25%;

}



.fleet-presence-sec .fleet-icon {

	width: 130px;

	transition: 0.3s

}



.fleet-presence-sec .fleet-icon:hover {

	transform: translate(0, -2px);

}



.fleet-presence-sec .fleet-text {

	display: block;

	font-family: 'Open Sans';

}



.fleet-presence-sec .map-bx {

	width: 100%;

	height: 400px;

}



.fleet-presence-sec .map-bx .map {

	width: 100%;

	height: 100%;

}



.partner-with-us {

	margin-bottom: -20px !important;

}



.partner-with-us h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

}



.partner-with-us .partner-text {

	text-align: center;

}

.partner-with-us .partner-text a {
 text-decoration: none;

}

.partner-with-us .partner-text .icon-png {

	margin: 0px auto;

	background-color: #f1a82c;

	width: 60px;

	height: 60px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	border-radius: 50%;

}



.partner-with-us .partner-text p, .partner-with-us .partner-text p  a {

	font-size: 20px;

	color: #1f365c;

	font-family: 'Open Sans Condensed';

	margin-top: 15px;

}



.our-customers-sec {

	padding: 120px 0px;

	background: rgb(245, 245, 245);

}



.our-customers-sec h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

}



.our-customers-sec .testimonial {

	position: relative;

	width: 100%;

	overflow: hidden;

	margin-top: -10px !important;

}



.our-customers-sec .testimonial .img-bx {

	height: 140px;

	width: 140px;

	object-fit: cover;

	border-radius: 50%;

	background-color: #fff;

	padding: 20px;

	box-sizing: border-box;

}



.our-customers-sec .testimonial .img-bx img {

	width: 100%;

	height: 100%;

}



.our-customers-sec .testimonial .slide {

	display: flex;

	align-items: center;

	justify-content: center;

	flex-direction: column;

	row-gap: 10px;

	height: 100%;

	width: 100%;

}



.our-customers-sec .testimonial .details .name {

	font-size: 18px;

	font-weight: bold;

	color: #f1a82c;

	text-transform: uppercase;

}



.our-customers-sec .testimonial .slide p {

	text-align: center;

	font-size: 22px;

	font-weight: 400;

	color: #1f365c;

	font-style: italic;

	padding: 0px 150px;

}



.nav-btn {

	background-color: #f1a82c;

	transition: 0.2s;

}



.nav-btn:hover {

	background-color: #e19106;

}



.nav-btn::after,

.nav-btn::before {

	font-size: 20px;

	color: #fff;

}



.client-sec h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

}



.client-sec {

	overflow: hidden;

	padding-bottom: 50px;

}



.client-sec .product-grid3 {

	border: none;

	box-shadow: none;

}



.client-sec .owl-carousel .owl-nav button {

	outline: none;

}



.client-sec .owl-carousel .owl-nav button.owl-next {

	position: absolute;

	top: 42%;

	right: 0px;

	padding: 0px 5px !important;

	background: #ffb536;

	display: inline-block;

	transform: translateY(-50%);

	border-radius: 30px;

	font-size: 32px;

	line-height: 41px;

	color: #ffffff;

	box-shadow: 0 0 8px rgba(0, 0, 0, .25);

}



.client-sec .owl-carousel .owl-nav button.owl-prev {

	position: absolute;

	top: 42%;

	left: 0px;

	padding: 0px 5px !important;

	background: #ffb536;

	display: inline-block;

	transform: translateY(-50%);

	border-radius: 30px;

	font-size: 32px;

	line-height: 41px;

	color: #ffffff;

	box-shadow: 0 0 8px rgba(0, 0, 0, .25);

}



.client-sec .view-more-btn {

	text-align: center;

}



.client-sec .view-more-btn a {

	text-decoration: none;

	background: #f1a82c;

	color: #fff;

	font-size: 18px;

	padding: 7px 160px;

	line-height: 55px;

	font-weight: 600;

	transition: .5s ease;

	text-transform: uppercase;

}



.client-sec .view-more-btn a:hover {

	background-color: #e19106;

}



.client-sec .owl-arrow .owl-nav {

	position: absolute;

	top: 0;

	right: 0;

	font-size: 1.8rem;

}



.enquery-sec {

	padding: 50px 0px;

}



.enquery-sec .contact {

	text-align: center;

}



.enquery-sec .contact h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 50px;

}
.enquery-sec .contact h3 a {
	color: #1f365c;
	font-size: 42px;
	background:none;
	padding:0;
}
.enquery-sec .contact h3 a:hover{
	background: none;
}


.enquery-sec .contact a {

	text-decoration: none;

	background: #f1a82c;

	color: #fff;

	font-size: 21px;

	padding: 21px 145px;

	font-weight: 700;

	transition: .5s ease;

}



.enquery-sec .contact a:hover {

	background-color: #e19106;

}



.technology-ctn-sec .carousel {

	margin: 20px auto;

	border: 5px solid #f7f7f7;

	border-radius: 50%;

	width: 480px;

	height: 480px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	text-align: center;

}



.technology-ctn-sec .carousel .carousel-custome-indicators {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	list-style: none;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li {

	background-color: #ffb536;

	height: 50px;

	width: 50px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	border-radius: 50%;

	cursor: pointer;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li:nth-child(1) {

	position: absolute;

	left: 45%;

	top: 45%;

	transition: .6s ease;

}



.first-icon-animation {

	left: -25px !important;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li:nth-child(2) {

	position: absolute;

	top: 45%;

	left: 45%;

	transition: .9s ease;

}



.second-icon-animation {

	top: -25px !important;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li:nth-child(3) {

	position: absolute;

	right: 45%;

	top: 45%;

	transition: 1.2s ease;

}



.third-icon-animation {

	right: -25px !important;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li:nth-child(4) {

	position: absolute;

	bottom: 45%;

	left: 45%;

	transition: 1.4s ease;

}



.fourth-icon-animation {

	bottom: -25px !important;

}



.technology-ctn-sec .carousel .carousel-custome-indicators li img {

	height: 25px;

}



.technology-ctn-sec .carousel .carousel-custome-indicators .active {

	animation-name: iconAnimation;

	animation-duration: 2s;

	animation-iteration-count: infinite;

}



@keyframes iconAnimation {

	0% {

		-webkit-transform: scale(1);

		-moz-transform: scale(1);

		-o-transform: scale(1);

		-ms-transform: scale(1);

		transform: scale(1)

	}



	50% {

		-webkit-transform: scale(.7);

		-moz-transform: scale(.7);

		-o-transform: scale(.7);

		-ms-transform: scale(.7);

		transform: scale(.7)

	}



	100% {

		-webkit-transform: scale(1);

		-moz-transform: scale(1);

		-o-transform: scale(1);

		-ms-transform: scale(1);

		transform: scale(1)

	}

}



.technology-ctn-sec .technology-data p {

	font-size: 15px;

	color: #3c4a62;

}



.technology-ctn-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn {

	margin: 0px auto;

	background-color: #f7f7f7;

	height: 380px;

	width: 380px;

	border-radius: 50%;

	padding: 10%;

	box-sizing: border-box;

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}



.technology-ctn-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn h4 {

	color: #1f365c;

	font-size: 18px;

	font-weight: bold;

	margin: 10px auto;

}



.technology-ctn-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn p {

	color: #3c4a62;

}



.our-business-sec .about_text h3 {

	font-size: 24px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 20px;

}



.our-business-sec .about_text ul {

	margin-left: 21px !important;

}



.values-sec h3 {

	font-weight: bold;

	color: #1f365c;

	font-size: 42px;

	text-align: center;

	text-transform: uppercase;

	font-family: "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

}



.values-sec .values-text {

	display: inline;

	align-items: center;

	margin: 0px 25px;

	display: flex;

}



.values-sec .values_icon {

	background: #f1a82c;

	width: 40px;

	height: 40px;

	border-radius: 50%;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

}



.values-sec .values-text p {

	font-size: 17px;

	color: #1f365c;

	margin-top: 12px;

	font-family: 'Open Sans Condensed';

}



.values-sec .values_icon img {

	width: 15px;

	height: 15px;

}



.growth-statistics-sec h3 {

	font-weight: bold;

	color: #1f365c;

	font-size: 42px;

	text-align: center;

	text-transform: uppercase;

	font-family: "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-counter-bx {

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	padding: 2% 0%;

	box-sizing: border-box;

	background-color: #1f365c;

	text-align: center;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-counter-bx .counter-bx-ctn .counter-icon {

	background-color: #f1a82c;

	width: 70px;

	height: 70px;

	border-radius: 50%;

	margin: 10px auto;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-counter-bx .counter-bx-ctn .counter-icon img {

	height: 50%;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-counter-bx .counter-bx-ctn span {

	font-size: 44px;

	margin-bottom: 20px;

	color: #fff;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-counter-bx .counter-bx-ctn p {

	color: #fff;

	font-size: 18px;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-graph-bx {

	background-color: #fff;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-graph-bx .line-chart-bx .canvas-bx {

	width: 100%;

	height: 600px;

}



.growth-statistics-sec .growth-statistics-ctn .statistics-graph-bx .line-chart-bx canvas {

	width: 90%;

	height: 100%;

}



.growth-statistics-sec .graph-legend {

	float: right;

	margin-right: -190px;

	top: -300px;

	position: relative;

}



.growth-statistics-sec .graph-legend .legend-color {

	background: #1f365c;

	border-radius: 4px;

	width: 20px;

	height: 20px;

	float: left;

	margin: 0 5px;

}



.seahawk-advantages-sec {

	background: rgba(170, 170, 170, 0.1);

	margin-top: -20px;

	padding: 120px 0px;

}



.seahawk-advantages-sec h3 {

	font-weight: bold;

	color: #1f365c;

	font-size: 42px;

	text-align: center;

	text-transform: uppercase;

	font-family: "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

}



.seahawk-advantages-sec .carousel {

	margin: 20px auto;

	border: 5px solid #fff;

	border-radius: 50%;

	width: 480px;

	height: 480px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	text-align: center;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	list-style: none;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li {

	background-color: #ffb536;

	height: 50px;

	width: 50px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	border-radius: 50%;

	cursor: pointer;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li:nth-child(1) {

	position: absolute;

	left: 45%;

	top: 45%;

	transition: .6s ease;

}



.first-icon-animation {

	left: -25px !important;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li:nth-child(2) {

	position: absolute;

	top: 45%;

	left: 45%;

	transition: .9s ease;

}



.second-icon-animation {

	top: -25px !important;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li:nth-child(3) {

	position: absolute;

	right: 45%;

	top: 45%;

	transition: 1.2s ease;

}



.third-icon-animation {

	right: -25px !important;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li:nth-child(4) {

	position: absolute;

	bottom: 45%;

	left: 45%;

	transition: 1.4s ease;

}



.fourth-icon-animation {

	bottom: -25px !important;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators li img {

	height: 25px;

}



.seahawk-advantages-sec .carousel .carousel-custome-indicators .active {

	animation-name: iconAnimationAbout;

	animation-duration: 2s;

	animation-iteration-count: infinite;

}



@keyframes iconAnimationAbout {

	0% {

		-webkit-transform: scale(1);

		-moz-transform: scale(1);

		-o-transform: scale(1);

		-ms-transform: scale(1);

		transform: scale(1)

	}



	50% {

		-webkit-transform: scale(.7);

		-moz-transform: scale(.7);

		-o-transform: scale(.7);

		-ms-transform: scale(.7);

		transform: scale(.7)

	}



	100% {

		-webkit-transform: scale(1);

		-moz-transform: scale(1);

		-o-transform: scale(1);

		-ms-transform: scale(1);

		transform: scale(1)

	}

}



.seahawk-advantages-sec .technology-data p {

	font-size: 15px;

	color: #3c4a62;

}



.seahawk-advantages-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn {

	margin: 0px auto;

	background-color: #fff;

	height: 380px;

	width: 380px;

	border-radius: 50%;

	padding: 10%;

	box-sizing: border-box;

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}



.seahawk-advantages-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn h4 {

	color: #1f365c;

	font-size: 18px;

	font-weight: bold;

	margin: 10px auto;

}



.seahawk-advantages-sec .carousel .carousel-inner .carousel-item .carousel-item-ctn p {

	color: #3c4a62;

}



.seahawk-advantages-sec .advantage_text .number_text {

	display: flex;

	margin-top: 20px;

}



.seahawk-advantages-sec .advantage_text h4 {

	text-align: center;

}



.seahawk-advantages-sec .advantage_text .number_text img {

	height: 30px;

	margin-right: 10px;

}



.structure-sec .structure-text {

	height: 30%;

	padding-bottom: 30px;

}



.structure-sec .structure-text h3 {

	font: normal bold 24px / 40px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	color: #1f365c;

	text-align: center;

}



.structure-sec .structure-text p {

	text-align: left;

	color: #1f365c;

	font: normal 16px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	font-size: small;

}



.reporting-sec {

	background: rgb(245, 245, 245);

	padding: 70px 0px;

	text-align: center;

}



.reporting-sec h3 {

	color: #1f365c;

	font: normal bold 26px / 40px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	text-align: center;

	margin-bottom: 20px;

}



.reporting-structure img {

	background-color: #ffb536;

	padding: 24px;

	border-radius: 50%;

	width: 75px;

	position: absolute;

	z-index: 1;

	margin-left: -40px;

}



.reporting-structure p {

	font: normal bold 14px / 15px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	padding-top: 90px;

	text-align: center;

	color: #1f365c;

	box-sizing: border-box;

}



.connector {

	border-color: #ffb536;

	position: absolute;

	top: 2.5em;

	left: -50%;

	width: 100%;

	height: 10px;

	border-top-width: 1px;

	border-top-style: dashed;

	margin-left: 0;

	z-index: 0;

}



@media (orientation: portrait) {

	.connector {

		display: none;

	}

}



.team-section h3 {

	color: #1f365c;

	font-size: 32px;

	text-transform: uppercase;

	font-weight: bold;

	text-align: center;

}



.team-section .management-details {

	padding-top: 30px;

}



.team-section .management-details h3 {

	text-align: center;

	color: #1f365c;

	font: normal bold 17px / 0px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

}



.team-section .management-details span {

	font: bold 14px / 10px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	word-spacing: normal;

	color: #1f365c;

	font-weight: bold;

	display: block;

	padding-top: 10px;

	padding-bottom: 10px;

	text-align: center;

}



.team-section .management-details p {

	font-size: small;

	font: normal 15px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	word-spacing: normal;

	color: #1f365c;

	text-align: center;

}



.customer-sec {

	background: rgb(245, 245, 245);

	padding: 70px 0px;

	box-sizing: border-box;

}



.customer-sec h3 {

	color: #1f365c;

	font: normal bold 30px / 30px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	text-align: center;

	margin-bottom: 40px;

}



.customer-sec .customer-text h4 {

	color: #1f365c;

	font: normal bold 17px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

	text-align: center;

	margin-bottom: 0px;

}



.customer-sec .customer-text p {

	text-align: center;

	color: #1f365c;

	font: normal bold 16px / 0px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-transform: uppercase;

}



.customer-sec .customer-text span {

	text-align: center;

	font: normal 16px / 27px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	word-spacing: normal;

	color: #1f365c;

	font-weight: bold;

	display: block;

}



.own-business-sec h3 {

	text-align: center;

	font: normal 16px / 40px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	word-spacing: normal;

	color: #1f365c;

	font-weight: bold;

	padding-bottom: 30px;

}



.franchise-image {

	width: 100%;

	height: auto;

}



.franchise_text {

	text-align: left;

	padding-top: 5px;

	font-size: small;

	font: normal 14px / 27px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

}



.franchise_text b {

	color: #1f365c;

	font-weight: bold;

}



.about-sec {

	background: rgb(245, 245, 245);

	padding: 80px 0px;

}



.about-sec .benefit-class h3 {

	text-align: left;

	font: normal 15px / 0px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	word-spacing: normal;

	color: #1f365c;

	font-weight: bold;

	padding-bottom: 20px;

}



.about-sec .benefit-class ul li {

	text-align: left;

	margin-left: 20px;

}



.about-sec .benefit-class p {

	text-align: left;

	color: #212564;

}



.about-sec .form-bx .form-group label {

	font-weight: 600;

	color: #1f365c;

}



.about-sec .form-bx .form-group label .form-sign {

	color: red;

	margin-left: 5px;

}



.about-sec .form-bx .form-group .about-btn {

	color: #fff;

	background-color: #f1a82c;

	outline: none;

	border: none;

	padding: 7px 13px;

	font-weight: 600;

	cursor: pointer;

	transform: .5s ease;

}



.about-sec .form-bx .form-group .contact-btn:hover {

	background-color: #ef9c0b;

}



.about-sec .form-bx .form-group .form-control:focus {

	box-shadow: none;

	border-color: #ced4da;

}



select:focus,

select:focus {

	outline: none;

	box-shadow: none;

	border-color: #ced4da;

}



.rc-anchor-light.rc-anchor-normal {

	height: 71px !important;

	margin-top: 5px !important;

}



.clients-sec .row .col-md-4 {

	text-align: center;

}



.clients-sec .image-frmae img {

	height: 100%;

	width: 100%;

	box-shadow: 0px 2px 10px rgba(82, 81, 81, 0.1);

	padding: 5px;

}



.safety-ctn-sec .client-div {

	padding: 4%;

}



.safety-ctn-sec .client-div .img-bx {

	text-align: center;

	margin-bottom: 15px;

}



.safety-ctn-sec .client-div .img-bx img {

	width: 65px;

}



.safety-ctn-sec .client-div h4 {

	margin-bottom: 20px;

	font: normal bold 25px / 35px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	color: #1f365c;

	text-align: center;

}



.safety-ctn-sec .client-div p {

	text-align: left;

	font: normal 16px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

}



.safety-ctn-sec .client-div h6 {

	text-decoration: underline;

	font: normal 16px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	text-align: left;

}



.safety-ctn-sec .client-div h5 {

	font: normal bold 16px / 10px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	text-align: left;

}



.safety-ctn-sec .client-div ul li {

	text-align: left;

	font-size: 16px;

	margin-left: 20px;

}



.safety-ctn-sec .client-div strong {

	float: left;

	font-size: 16px;

	text-decoration: underline;

	padding-top: 10px;

	padding-bottom: 10px;

}



.contact-ctn-sec h3 {

	font-size: 22px;

	font-weight: bold;

	color: #1f365c;

}



.contact-ctn-sec .ctn-bx {

	display: flex;

}



.contact-ctn-sec .contact-icon {

	background-color: #ffb536;

	border-radius: 50%;

	height: 27px;

	width: 40px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

}



.contact-ctn-sec .contact-icon img {

	height: 15px;

	width: 15px;

}



.contact-ctn-sec .address_div {

	display: grid;

	margin-bottom: 15px;

}



.contact-ctn-sec .address_div a {

	color: #ffb536;

	;

	text-decoration: underline;

}



.contact-ctn-sec .address_div a:hover {

	color: #ffb536;

}



.contact-ctn-sec .address_div h4 {

	font-weight: bold;

	font-size: 16px;

	line-height: 24px;

	text-align: left;

	color: #1f365c;

	padding-left: 10px;

}



.contact-ctn-sec .address_div p {

	text-align: left;

	font-size: small;

	padding-left: 15px;

	font-size: 15px;

	margin-bottom: 5px !important;

}



.contact-ctn-sec .form-bx .form-group label {

	font-weight: 700;

	color: #1f365c;

}



.contact-ctn-sec .form-bx .form-group label .form-sign {

	color: red;

	margin-left: 5px;

}



.contact-ctn-sec .form-bx .form-group .contact-btn {

	color: #fff;

	background-color: #f1a82c;

	outline: none;

	border: none;

	padding: 7px 13px;

	font-weight: 600;

	cursor: pointer;

	transform: .5s ease;

}



.contact-ctn-sec .form-bx .form-group .contact-btn:hover {

	background-color: #ef9c0b;

}



.contact-ctn-sec .form-bx .form-group .form-control:focus {

	box-shadow: none;

	border-color: #ced4da;

}



.services-ctn-sec .servicess-image img {

	width: 100%;

	height: 100%;

}



.services-ctn-sec .service-image-height img {

	height: 400px !important;

}



.services-ctn-sec .services-text ul li {

	font-size: 14px;

	margin-left: 20px;

}



.services-text h4 {

	font-weight: bold;

}



.enquire-section {

	background: rgb(245, 245, 245);

	padding: 75px 0px;

	text-align: center;

}



.enquire-section .enquire-ctn-bx h3 {

	text-align: center;

	font-size: 42px;

	color: #1f365c;

	font-weight: bold;

	margin-bottom: 30px;

}



.enquire-section .enquire-ctn-bx .enquire-btn {

	text-decoration: none;

	padding: 1% 9%;

	border: none;

	background: #f1a82c;

	color: #fff;

	font-size: 24px;

	font-weight: bold;

	transition: .5s ease;

	cursor: pointer;

}



.enquire-section .enquire-ctn-bx .enquire-btn:hover {

	background-color: #e19106;

}



.careers-ctn-sec {

	color: #1f365c;

}



.careers-ctn-sec h3 {

	text-align: center;

	text-transform: uppercase;

	font-weight: 600;

	font-size: 32px;

	font-weight: bold;

}



.careers-ctn-sec p {

	text-align: center;

	color: #1f365c;

}



.careers-ctn-sec .careers-text h3 {

	text-align: left;

	font-size: 16px;

	font-weight: bold;

	color: #1f365c;

}



.careers-ctn-sec .careers-text p {

	text-align: left;

	color: #1f365c;

}



.careers-ctn-sec .careers-text a {

	color: #1f365c;

	text-decoration: underline;

}



.career-reason-section {

	background: rgb(245, 245, 245);

	padding: 50px 0px;

}



.career-reason-section .careers-text ul {

	margin-left: 20px;

}



.career-required-section {

	padding: 50px 0px;

}



.career-required-section .careers-text strong {

	padding-bottom: 10px;

}



.career-required-section .careers-text h4 {

	text-align: center;

	font-weight: bold;

}



.career-required-section .careers-text ul {

	margin-left: 20px;

}



.gallery-sec .image-frmae img {

	height: 100%;

	width: 100%;

	padding-bottom: 100px;

}



.gallery-sec h4 {

	text-align: center;

	padding-bottom: 20px;

	font-weight: bold;

}



.gallery-sec p {

	text-align: center;

	padding-bottom: 20px;

}



.attachheader-ctn-sec .attachheader-image img {

	width: 100%;

	height: 100%;

}



.attachheader-ctn-sec .attachheader-text {

	color: #1f365c;

}



.attachheader-ctn-sec .attachheader-text ul {

	margin-left: 20px !important;

}



.attachheader-ctn-sec .attachheader-text a {

	text-decoration: underline;

	color: #1f365c;

}



.attachheader-ctn-sec .attachheader-text ul li {

	font-size: 14px;

}



.attachheader-ctn-sec .attachheader-text h3 {

	font-size: 1rem;

	font-weight: 600;

}



.attachheader-ctn-sec .attachheader-text .number-text {

	display: flex;

	margin-top: 20px;

}



.attachheader-ctn-sec .attachheader-text .number-text img {

	height: 25px;

	margin-right: 10px;

}



.attachheader-ctn-sec .attachheader-text .number-text p {

	margin-bottom: 0px !important;

}



.attachvehicle-ctn-sec {

	background: rgb(245, 245, 245);

	padding: 80px 0px;

}



.attachvehicle-ctn-sec h3, .attachvehicle-ctn-sec h3 a {

	text-align: center;

	font-weight: bold;
color:#1f3f66;


}



.attachvehicle-ctn-sec .attachheader-text h3 {

	font-size: 18px;

	text-align: center;

	font-weight: 700;

}



.attachvehicle-ctn-sec .attachheader-text h4 {

	font-size: 16px;

	font-weight: 600;

	text-align: center;

}



.attachvehicle-ctn-sec .form-bx .form-group label .form-sign {

	color: red;

	margin-left: 5px;

}



.attachvehicle-ctn-sec .form-bx .form-group label {

	font-weight: bold;

	color: #1f365c;

}



.attachvehicle-ctn-sec .form-bx .form-group .form-control:focus {

	box-shadow: none;

	border-color: #ced4da;

}



select:focus,

select:focus {

	outline: none;

	box-shadow: none;

	border-color: #ced4da;

}



.attachvehicle-ctn-sec .form-bx .form-group .about-btn {

	color: #fff;

	background-color: #f1a82c;

	outline: none;

	border: none;

	padding: 10px 30px;

	cursor: pointer;

	transform: .5s ease;

}



.attachheader-ctn-sec .attachheader-text td,

th {

	text-align: left;

	padding: 40px;

}



table {

	font-family: arial, sans-serif;

	width: 100%;

	margin-top: 30px;

}



td,

th {

	text-align: left;

	padding: 8px;

}



tr {

	border-bottom: .8px solid grey;

	border-top: .8px solid grey;

}



.footer {

	background: #1f365c;

	overflow-x: hidden;

}



.footer .container .footer-content {

	padding: 42px 0;

}



.footer .container .footer-content .footer-service-links {

	padding: 2px;

}



.footer .container .footer-content .footer-service-links h3 {

	font: normal bold 18px / 24px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	color: #fff;

}



.footer .container .footer-content .footer-service-links ul li {

	padding: 8px 3px;

	border-bottom: 1px solid rgba(133, 134, 140, 0.15);

	list-style: none;

}



.footer .container .footer-content .footer-service-links ul li:last-child {

	border-bottom: 0;

}



.footer .container .footer-content .footer-service-links ul {

	margin-bottom: 0px !important;

}



.footer .container .footer-content .footer-service-links ul li a {

	text-decoration: none;

	color: #fff;

	margin-bottom: 0px;

	list-style: none;

	padding-bottom: 0px;

	font: normal 15px / 23px "Open Sans", Helvetica, Arial, Verdana, sans-serif;

	transition: .1s ease;

}



.footer .container .footer-content .footer-service-links ul li a.active {

	color: #f1a82c !important;

}



.footer .container .footer-content .footer-service-links ul li:hover a {

	color: #f1a82c;

}



.footer .container .footer-content .footer-state-links {

	height: 160px;

}



.footer .container .footer-content .footer-state-links h3 {

	font: normal bold 18px/29px "Open Sans Condensed", Helvetica, Arial, Verdana, sans-serif;

	color: #fff;

}



.footer .container .footer-content .footer-state-links p {

	font-size: 14px;

	color: #fff;

	line-height: 22px;

}



.footer .bottom-line {

	width: 100%;

	padding: 10px 0px;

	border-top: 1px solid rgba(255, 255, 255, 0.3);

}



.footer .bottom-line .bottom-line-content {

	display: flex;

	justify-content: space-between;

	margin-top: 10px;

}



.footer .bottom-line .bottom-line-content p {

	color: #fff;

	font-size: 12px;

	line-height: 20px;

}



.footer .bottom-line .bottom-line-content .media-icons {

	display: flex;

	right: 10px;

	position: relative;

}



.footer .bottom-line .bottom-line-content .media-icons a {

	background-color: #2d456b;

	padding: 5px;

	height: 25px;

	width: 25px;

	display: flex;

	justify-content: center;

	flex-direction: column;

	align-items: center;

	border-radius: 50%;

	transition: .5s ease;

	margin-left: 10px;

}



.footer .bottom-line .bottom-line-content .media-icons a:hover {

	background-color: #ffb536;

}



.backtotop-btn {

	background: #142540 none repeat center top;

	width: 45px;

	height: 45px;

	padding: 10px;

	cursor: pointer;

	position: absolute;

	margin-top: -15px;

	right: 30px;

}



.backtotop-btn img {

	width: 25px;

}



.enquery-now {

	position: fixed;

	z-index: 99;

	right: 0;

	bottom: 44.5%;

}



.enquery-now a img {

	width: 30px;

}



#error-txt {

	display: none;

	color: red;

}



#loader {

	position: fixed;

	overflow: hidden;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	background-color: #fff;

	z-index: 1111111;

}



#loader .loader-img {

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	width: 75px;

}



#loader .loader-img img {

	width: 100%;

}



.main-hero {

	display: none;

}